aiofiles
aiohttp
beautifulsoup4
cfscrape
coffeehouse
cryptg
emoji
gitpython
googletrans
google_images_download
gtts
hachoir
lyricsgenius
Pillow
psycopg2
PyGithub
pySmartDL
python-magic
qrcode
regex
requests
selenium
speedtest-cli
sqlalchemy
urbandict
wikipedia
youtube-dl
google-api-python-client
oauth2client
httplib2==0.15.0
